div.container{
text-align: right;
padding-top: 2%;
}
ul.myul{
    text-align: top;
    display: inline;
}
li{
    display: inline;
    padding-inline: 10px;
    text-align: left;
    padding-top: 10%;
}
body{
    background-color: rgb(243, 208, 162);
}
h1{
    text-align: left;
    padding-left: 10%;
    padding-top: 3%;
}
div.im{
    
    padding-top: 1%;
    padding-left: 4%;
}
h1{
    padding-top: 3%;
}
div.mine{
    padding-left: 0%;
    padding-bottom: 0%;
   
    font-size: 0%;
    padding-right: 0%;
    padding-top: 0%;

}
