div.container{
text-align: top;
}
ul.myul{
    text-align: top;
    display: inline;
}
li{
    display: inline;
    padding-inline: 10px;
}
body{
    background-color: burlywood;
}
h1{
    text-align: right;
}